@model ProjetoSeguros.Models.Seguro
@{
    ViewBag.Title = "Editar";
}
<h2>@ViewBag.Title.</h2>
<div id="model" data-model="@Helpers.JsonEncode(Model)"></div>
<form id="form-seguros">
    <div class="jumbotron">
        <fieldset style="padding: 15px;
    border: #d7d7d7;
    border-style: solid;
    margin-bottom: 5px;">
            <legend style="width:150px;">Buscar Seguro</legend>
            <div class="row">
                <div class="col-lg-12">
                    <label>Número do Seguro</label>
                    <input class="form-control" data-bind="value:numSeguro" type="text" placeholder="Número do Seguro">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-info" data-bind="click: buscar">Buscar</button>
                </div>
            </div>
        </fieldset>

        <fieldset style="padding: 15px;
                         border: #d7d7d7;
                         border-style: solid;
                         margin-bottom: 5px;">
            <legend style="width:150px;">Editar Seguro</legend>
            <div class="alert alert-danger" role="alert" data-bind="errors().length == 0">
                <span data-bind="value:messageError"></span>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label>Número do seguro</label>
                    <input class="form-control" data-bind="value:id" type="text" placeholder="Numero do seguro" disabled>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-2"> <label>Tipo de Cliente</label></div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadio" data-bind="checked:indTipoCliente" value="1">
                    <label class="form-check-label" for="pessoaFisica">Pessoa Física</label>
                </div>
                <div class="col-lg-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadio" data-bind="checked:indTipoCliente" value="2">
                    <label class="form-check-label" for="pessoaJuridica">Pessoa Jurídica</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label class="form-check-label">Cliente</label>
                    <input class="form-control" data-bind="masked: numCliente, mask:dscMask, disable:indTipoCliente() == undefined || indTipoCliente() == ''" type="text" placeholder="Cliente">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"> <label>Tipo do Seguro</label></div>
            </div> <div class="row">
                <div class="col-lg-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" data-bind="checked:indTipo" value="1">
                    <label class="form-check-label" for="automovel">Automóvel</label>
                </div>
                <div class="col-lg-2 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" data-bind="checked:indTipo" value="2">
                    <label class="form-check-label" for="residencial">Residencial</label>
                </div>
                <div class="col-lg-8 form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" data-bind="checked:indTipo" value="3">
                    <label class="form-check-label" for="vida">Vida</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group col-lg-12">
                        <label data-bind="text:dscTipo"></label>
                        <input class="form-control" type="text" data-bind="value: objetoSegurado,
                           visible:dscTipo()!='' && dscTipo()!= undefined, attr: {placeholder: dscTipo,
                           maxLength:indTipo()==1 ? 7 : indTipo()==2 ? 150 : indTipo()==3 ? 11:0}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-info" data-bind="click: salvar">Salvar</button>
                </div>
            </div>

        </fieldset>
    </div>
</form>

@section scripts {
    @Scripts.Render("~/bundles/Seguro")
}